<div class="card-group">
  <div class="card">
    <img src="https://hellostorage.s3.amazonaws.com/undraw_Graduation_ktn0.svg" class="card-img-top" alt="final_project">
    <div class="card-body">
      <h5 class="card-title">TokenCentral: A Final Project</h5>
      <p class="card-text">TokenCentral is a cryptocurrency news application. With this app, users are kept up-to-date on the latest cryptocurrency news and prices. This final project was built using RSpec, a test-driven development framework in Ruby and the Cryptocompare API. <br><br> It was created by <a href="krystalraysor.com">Krystal Raysor</a>, student at <a href="https://bootcamp.cvn.columbia.edu/">Columbia Engineering Coding Bootcamp</a>. <br> - January 2020</p>
    </div>
  </div>
  <div class="card">
    <img src="https://hellostorage.s3.amazonaws.com/undraw_share_online_r87b.svg" class="card-img-top" alt="Contact">
    <div class="card-body">
      <h5 class="card-title">Contact</h5>
          <p> This Native New Yorker has recently relocated to the Queen City.</p>
          <p>If you're in the Charlotte Metro Area and are interested in my work feel free to contact me at: </p>
          Email: krystal.developer@gmail.com
          <br />
          Charlotte Metro Area
          <br />
          Charlotte, NC
    </div>
  </div>
  <div class="card">
    <img src="https://hellostorage.s3.amazonaws.com/undraw_portfolio_update_nqhs.svg" class="card-img-top" alt="Github">
    <div class="card-body">
      <h5 class="card-title">Resume</h5>
      <p> To see the official readme documentation of this project and my entire portfolio please visit:
        <ul>
          <li><a href="https://github.com/Hello-Krystal/">Github</a></li>
          <li><a href="https://linkedin.com/in/krystal-raysor">LinkedIn</li>
          <li><a href="#">My Portfolio</li>
          </ul>
      <%= link_to 'https://github.com/Hello-Krystal/TokenCentral' do %>
      <br />
      <br />
      <% end %>
    </div>
  </div>
</div>
